<% content_for :title, "Trace #{truncate_id(@trace.trace_id, 12)}" %>

<% content_for :page_header do %>
  <div class="observ-page-header__content">
    <div class="observ-page-header__breadcrumb">
      <%= link_to "Traces", traces_path, class: "observ-link" %> /
    </div>
    <h1 class="observ-page-header__title">
      Trace <code class="observ-code observ-code--inline"><%= truncate_id(@trace.trace_id, 12) %></code>
    </h1>
    <div class="observ-page-header__meta">
      <%= observ_status_badge(observ_trace_status(@trace)) %>
    </div>
  </div>
  <div class="observ-page-header__actions">
    <%= link_to "#", 
        class: "observ-button observ-button--secondary observ-button--sm",
        data: { 
          action: "click->observ--drawer#open", 
          drawer_url_param: text_output_drawer_trace_path(@trace)
        } do %>
      See Text Output
    <% end %>
    
    <%= link_to "#", 
        class: "observ-button observ-button--secondary observ-button--sm",
        data: { 
          action: "click->observ--drawer#open", 
          drawer_url_param: add_to_dataset_drawer_trace_path(@trace)
        } do %>
      Add to Dataset
    <% end %>
    
    <%= link_to "#", 
        class: "observ-button observ-button--primary observ-button--sm",
        data: { 
          action: "click->observ--drawer#open", 
          drawer_url_param: annotations_drawer_trace_path(@trace)
        } do %>
      Annotate
      <% if @trace.annotations.any? %>
        <span class="observ-badge observ-badge--light"><%= @trace.annotations.count %></span>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="observ-container">
  <%= render "observ/traces/details", trace: @trace %>

  <%= render "observ/traces/input", trace: @trace %>

  <%= render "observ/traces/output", trace: @trace %>

  <%= render "observ/traces/metadata", trace: @trace %>

  <%= render "observ/traces/observations", observations: @observations, trace: @trace %>
</div>
